body{
    font-family: "Helvetica Neue";
}
#wrapper {
    width: 960px;
}
#header{
    width: 960px;
    max-height: 200px;
}

#nav {
    width: 795px;
    line-height: 100px;
    text-align: right;
    text-decoration: none;

}

.center{
    margin-right: auto;
    margin-left: auto;
}