body{
    font-family: "Helvetica Neue";
}
#wrapper {
    width: 960px;
}
#header{
    width: 960px;
    max-height: 200px;
}

#nav {
    width: 795px;
    line-height: 100px;
    text-align: right;
    text-decoration: none;

}

.center{
    margin-right: auto;
    margin-left: auto;
}


.floatleft{
    float: left;
}

.floatright{
    float: right;
}

.button{
    display: inline;
    text-align: right;
    text-decoration: none;
}
.button:hover {
    text-decoration: underline;
}
#logo{
    width: 160px;
    text-align: center;

}


.clearfloat {
    clear: both;
}
box{
    width: 960px;
    min-height: 300px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding:3px;
}
.column {
    float: left;
    width: 50%;
}

.column4 {
    float: left;
    width: 25%;
}
/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;